{% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashbag.all() %}
            <div class="container alert alert-{{ type }} alert-dismissable fade in" style="margin-top:10px">
                {% for message in messages %}
                        {{ message }}
                {% endfor %}
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            </div>
    {% endfor %}
{% endif %}