<footer style="background-color:#EEEEEE">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright"><strong>Copyright &copy; UPPA Soutien 2017</strong></span>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li class="list-inline-item"><a href="#"><strong>Politique de confidentialité</strong></a>
                    </li>
                    <li class="list-inline-item"><a href="{{ path('about') }}"><strong>À propos</strong></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>